body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 5px solid orangered;
  padding-top: 5px;
  padding-bottom: 5px;
  
}

#grey{
  background-color: grey;
  border-radius: 10px;
  height: 30px;
}
#red{
  background-color: rgb(177, 43, 43);
  border-radius: 10px;
  height: 30px;
}
#green{
  background-color: green;
  border-radius: 10px;
  height: 30px;
}
.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}



.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
.display-3{
  color: orangered;
}
#date-time{
  color: orangered;
  font-weight: bolder;
  font-size: 20px;
  
}
.lead{
  font-weight: bolder;
}

.container{
  color: white;
  font-weight: bolder;
  text-align: center;
}
  
#label1{
height: 25px;
width: 700px;
color: white;
font-weight: bolder;
}

#label2{
  height: 25px;
  width: 700px;
  color: white;
  font-weight: bolder;
  }
  #label3{
    height: 25px;
    width: 700px;
    color: white;
    font-weight: bolder;
    }
    #label4{
      height: 25px;
      width: 700px;
      color: white;
      font-weight: bolder;
      }
 #label5{
  height: 25px;
   width: 700px;
   color: white;
   font-weight: bolder;
   }
.col-2{
  background-color: rgb(228, 98, 47);
  border: 2px solid black;
  border-radius: 10px;
  height: 70px;
  display: flex; 
  align-items: center;
  justify-content: center;  
}

.col-8{
  border-radius: 10px ;
  height: 70px; 
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


#button1{
  width:90px;
  height: 30px;
  font-weight: bolder;
  border-radius: 10px;
}

#button1:hover{
  background-color: #000000;
  color: white;
}

footer{
  text-align: center;
  font-weight: bolder;
}
   